html
	head
		title Add Warehouse Page
		link(rel='stylesheet' href='/style.css')
body
	
	form(action='/addWarehouse/' method='post')

		h2 Add a new warehouse:             
		h3 
			| Name: 
			input(type='text' name='whsName' required='' size = "30")
		h3 
			| Location: 
			input(type='text' name='whsLocation' required='' size = "60")
		h3 
			| Code: 
			input(type='text' name='whsCode' required='' size = "3")
		h3 
			| Capacity: 
			input(type='text' name='whsCapacity' required='' size = "10")
		
		button(type='submit') Save			
