html
    head
        title Item Page
        link(rel='stylesheet' href='/style.css')
body
    include ../partials/header

    div#main
        include ../pages/editItem
        
    
    div#delete
        form(action='/deleteItem/'+item._id method='post')
            button(type='submit') Delete

    div#warehouses
        h3 Warehouses store this item:
        each wh in warehouses
            a(href="/warehouse/" + wh._id) #{" Name: " + wh.name + " Code: " + wh.code + " Capacity: " + wh.capacity}
            br
    
