html
	head
		title Logged In Page
		link(rel='stylesheet' href='/style.css')
body
	include ../partials/loggedInHeader

	div#main
		h1 Welcome to the EZTrack Inventory Management System!
		h2 Start managing the inventories using the navigation bar!
		br
	
