html
	head
		title Register Page
		link(rel='stylesheet' href='/style.css')
body
	include ../partials/header

	form(action='/login' method='post')

		h2 Already registered? Log in now: 
		h3 
			| User Name: 
			input(type='text' name='username' required='')
		h3 
			| Password:
			input(type='password' name='password' required='')
		
		button(type='submit') Login

	if errormessage
		ul.error #{errormessage}
	
	br
	
	form(action='/register' method='post')

		h2 Register now:             
		h3 
			| User Name: 
			input(type='text' name='username' required='')
		h3 
			| Password:
			input(type='password' name='password' required='')
		
		button(type='submit') Register			
