html
    head
        title Users Page
        link(rel='stylesheet' href='/style.css') 
body
    if session.loggedin
        include ../partials/loggedInHeader
    else
        include ../partials/header
        br

    each user in users 
        if !user.privacy
            a(href="/users/" + user._id) #{user.username}
            br 
