html
    head
        title Warehouse Page
        link(rel='stylesheet' href='/style.css')
body
    include ../partials/header

    div#main
        include ../pages/editWarehouse
        
    
    div#delete
        form(action='/deleteWarehouse/'+warehouse._id method='post')
            button(type='submit') Delete

    div#items
        h3 Items stored in this warehouse:
        each item in items
            a(href="/item/" + item._id) #{"SKU: "+ item.sku+ " Name: " + item.name + " Location: " + item.warehouse + " Qty: " + item.quantity + " Category: " + item.category}
            br
    
